.corporate-travel {
  padding-left: 55px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    text-align: center;
  }
}

.corporate-travel__text {
  width: 320px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: rgba($basic-darkest, 0.5);

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}
