.countries {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 50% 118px;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.countries__list {
  width: 902px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 112px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba($basic-dark, 0.3);
  list-style: none;

  @media (max-width: $tablet-width) {
    overflow: scroll;
    width: auto;
  }
}

.countries__item {
  padding: 25px 0 15px;
}

.countries__toggle {
  padding: 0;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba($basic-dark, 0.3);
  background-color: transparent;
  cursor: pointer;

  &--current {
    color: $basic-accent;
  }

  @media (max-width: $mobile-width) {
    font-size: 23px;
    line-height: 26px;
    letter-spacing: -0.415px;
  }
}

.countries__information {
  display: none;
  padding-top: 62px;
  padding-bottom: 234px;

  &--current {
    display: flex;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 20px 0 0;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 0 0;
  }
}

.countries__description {
  margin-right: 103px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.countries__title {
  position: relative;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $basic-dark;
  letter-spacing: -1.245px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: $basic-accent;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 21px;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0;

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 3px;
    font-size: 24px;
    line-height: 150%;
  }
}

.countries__text {
  width: 367px;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba($basic-dark, 0.7);
  letter-spacing: -0.466667px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.countries__button {
  padding: 30px 44px;

  @media (max-width: $tablet-width) {
    padding: 18px 55px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 18px 74px;
    margin-bottom: 51px;
  }
}

.countries__aside {
  position: relative;
  min-height: 595px;
  flex-grow: 1;
  align-self: flex-start;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $tablet-width) {
    min-height: 415px;
    justify-content: center;
    align-self: stretch;
    margin: 0 -20px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 -16px;
  }
}

.countries__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  width: 430px;
  height: 596px;

  @media (max-width: $tablet-width) {
    height: 415px;
    width: 100%;
    margin: 0 auto;
  }
}

.countries__reviews {
  width: 382px;
  z-index: 5;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 80px;
    right: 50%;
    transform: translate(50%);
  }

  @media (max-width: $mobile-width) {
    width: 268px;
    height: 431px;
    top: 50px;
  }
}
