.countries {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 50% 118px;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.countries__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 99px;
  list-style: none;

  @media (max-width: $tablet-width) {
    overflow: scroll;
  }
}

.countries__item {
  padding: 25px 0 15px;
}

.countries__toggle {
  padding: 0;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba($basic-dark, 0.3);
  background-color: transparent;
}

.countries__information {
  display: none;
  padding-top: 65px;
  padding-bottom: 234px;

  &--current {
    display: flex;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 30px 0 0 0;
    text-align: center;
  }
}

.countries__description {
  margin-right: 50px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    padding: 0 21px;
  }
}

.countries__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $basic-dark;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 150%;
  }
}

.countries__text {
  width: 386px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba($basic-dark, 0.7);

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.countries__button {
  padding: 30px 44px;

  @media (max-width: $tablet-width) {
    padding: 18px 44px;
    margin-bottom: 30px;
  }
}

.countries__aside {
  position: relative;
}

.countries__image {
  object-fit: cover;
  width: 430px;
  height: 596px;

  @media (max-width: $tablet-width) {
    width: 768px;
    height: 415px;
    margin: 0 auto;
  }
}

.countries__reviews {
  position: absolute;
  right: 0;
  top: 127px;
  transform: translate(36%);
  width: 382px;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
  }

  @media (max-width: $mobile-width) {
    top: 50px;
    width: 268px;
    height: 431px;
  }
}
