.countries__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.countries__toggle {
  padding: 0;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba($basic-dark, 0.3);
  background-color: transparent;
}

.countries__information {
  display: none;

  &--current {
    display: block;
  }
}

.countries__title {
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $basic-dark;
}

.countries__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba($basic-dark, 0.7);
}
