.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    display: none;
    width: 320px;
    height: 568px;
    margin-left: auto;
    background-color: $basic-white;
    z-index: 2;

    &--open {
      display: block;
    }
  }
}

.main-navigation__list {
  display: flex;
  margin: 0 77px 0 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    margin: 0;
    padding-top: 134px;
    flex-direction: column;
  }
}

.main-navigation__item {
  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
    background-color: $light-grey;
  }
}

.main-navigation__link {
  display: block;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $basic-darkest;
  text-decoration: none;

  &:hover {
    color: $basic-accent;
  }

  @media (max-width: $tablet-width) {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $dark-grey;
    background-image: url("../img/icon/icon-arrow.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: top 22px right 16px;
  }
}

.main-navigation__phone {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 32px;
  color: $basic-darkest;

  &:hover {
    color: $basic-accent;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__phone-icon {
  margin-right: 20px;
  stroke: $basic-darkest;

  &:hover {
    stroke: $basic-accent;
  }
}

.main-navigation__close {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 50px;
  height: 52px;
  padding: 0;
  border: 0;
  background-color: inherit;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-navigation__close-icon {
  margin: 0 auto;
}
