.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-navigation__list {
  display: flex;
  margin: 0;
  margin-right: 65px;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__item {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $basic-darkest;
}

.main-navigation__phone {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 32px;
  color: $basic-darkest;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
