.next-travel__list {
  display: grid;
  grid-template-columns: repeat(3, 115px);
  column-gap: 10px;
  margin: 0;
  padding: 0 23px 0 0;
  list-style: none;
}

.next-travel__item {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba($basic-darkest, 0.5);
}
