.next-travel {
  border-right: 1px solid $divider;

  @media (max-width: $tablet-width) {
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid $divider;
  }
}

.next-travel__countries {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  column-gap: 50px;

  @media (max-width: $mobile-width) {
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 20px;
    padding-right: 0;
  }
}

.next-travel__list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--third {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    min-width: 122px;

    &--first {
      grid-column: 1/2;
    }

    &--second {
      grid-column: 2/3;
    }

    &--third {
      margin-top: 10px;
      margin-right: 0;
      grid-column: 1/-1;
    }
  }
}

.next-travel__item {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba($basic-darkest, 0.5);

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}
