.page-header {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;

  @media (max-width: $tablet-width) {
    padding: 0 0 0 21px;
  }
}

.page-header__burger {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    padding: 10px 21px;
    background-color: $basic-accent;
    border: 0;
  }

  @media (max-width: $tablet-width) {
    padding: 10px 10px;
  }
}
