.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 80px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.page-footer__title {
  padding-bottom: 20px;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $basic-darkest;
}
