.page-footer {
  display: grid;
  grid-template-columns: 387px 397px 397px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.page-footer__title {
  padding-bottom: 20px;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $basic-darkest;
}
