.places {
  padding-top: 200px;
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    padding-top: 80px;
    margin-bottom: 71px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
  }
}

.places__title {
  position: relative;
  width: 358px;
  margin: 0;
  padding-bottom: 34px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: $basic-dark;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 228px;
    background-color: $basic-accent;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0;

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    font-size: 24px;
    line-height: 150%;
  }
}

.places__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 100px;
  padding: 0;
  list-style: none;
  margin-left: -60px;


  @media (max-width: $tablet-width) {
    width: 657px;
    margin: 0 auto;
    row-gap: 40px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.places__item {
  position: relative;
  margin-left: 60px;

  &:last-child {
    margin-left: 120px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
    margin: 0 auto;

    &:last-child {
      margin-left: auto;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: -5px;
  }
}

.places__mask {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($basic-darkest, 0.6);
  z-index: 5;

  transform: scale(0);
}

.places__item:hover .places__mask {
  display: flex;
  transform: scale(1);
}

.places__link {
  display: block;
  width: 270px;
  margin: 0 auto;
  padding: 30px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  border: 1px solid rgba($basic-white, 0.7);
}

.places__image {
  width: 350px;
  height: 430px;

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 425px;
  }
}

.places__text {
  width: 358px;
  padding-top: 31px;
  margin: 0 0 53px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba($basic-dark, 0.7);

  @media (max-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 21px;
  }
}

.places__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 215px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $basic-dark;
  background-color: $basic-white;
}
