.places {
  padding-top: 200px;

  @media (max-width: $tablet-width) {
    padding-top: 80px;
  }
}

.places__title {
  width: 358px;
  margin: 0;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: $basic-dark;

  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.places__list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  row-gap: 100px;

  @media (max-width: $tablet-width) {
    width: 616px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.places__item {
  position: relative;

  &--greece {
    grid-column: 1/3;
  }

  &--albania {
    grid-column: 3/5;
  }

  &--macedonia {
    grid-column: 5/7;
  }

  &--montenegro {
    grid-column: 2/4;
  }

  &--croatia {
    grid-column: 4/6;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
    margin: 0 auto;

    &--greece {
      grid-column: 1/2;
    }

    &--albania {
      grid-column: 2/3;
    }

    &--macedonia {
      grid-column: 1/2;
    }

    &--montenegro {
      grid-column: 2/3;
    }

    &--croatia {
      grid-column: 1/3;
      margin: 0 auto;
    }
  }

  @media (max-width: $mobile-width) {
    grid-column: 1/2;
  }
}

.places__mask {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($basic-darkest, 0.6);
  z-index: 5;

  transform: scale(0);
}

.places__item:hover .places__mask {
  display: flex;
  transform: scale(1);
}

.places__link {
  display: block;
  width: 270px;
  margin: 0 auto;
  padding: 30px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  border: 1px solid rgba($basic-white, 0.7);
}

.places__image {
  width: 350px;
  height: 430px;

  @media (max-width: $tablet-width) {
    width: 288px;
    height: 425px;
  }
}

.places__text {
  width: 358px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba($basic-dark, 0.7);

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.places__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 215px;
  padding: 17px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $basic-dark;
  background-color: $basic-white;
}
