.promo {
  min-height: 860px;
  background-image: url("../img/promo.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $promo-background;

  @media (max-width: $tablet-width) {
    min-height: 344px;
    background-image: url("../img/promo-tablet.jpg");
    object-fit: cover;
  }
}

.promo__content {
  width: 412px;
  padding-top: 195px;
  margin-left: auto;
  margin-right: 59px;

  @media (max-width: $tablet-width) {
    width: 398px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }
}

.promo__title {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
  }
}

.promo__text {
  margin: 0;
  padding-bottom: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.466667px;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    padding-bottom: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
  }
}

.promo__button {
  display: flex;
  width: 340px;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 40px;
  }
}
