.promo {
  min-height: 860px;
  background-image: url("../img/promo.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $promo-background;
}

.promo__content {
  width: 412px;
  padding-top: 195px;
  margin-left: auto;
  margin-right: 59px;
}

.promo__title {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: $basic-white;
}

.promo__text {
  margin: 0;
  padding-bottom: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: $basic-white;
}

.promo__button {
  display: flex;
  width: 340px;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
}
