.questions {
  display: none;
  position: relative;
  padding-bottom: 140px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
  }
}

.questions__img {
  width: 844px;
  height: 455px;

  @media (max-width: $tablet-width) {
    width: 767px;
    margin-left: auto;
    margin-right: auto;
  }
}

.questions__form {
  position: absolute;
  top: 70px;
  right: 32%;
  transform: translateX(50%);
  width: 656px;
  height: 315px;
  padding: 50px;
  text-align: center;
  background: $basic-white;
  box-shadow: 0 4px 30px rgba($basic-shadow, 0.1);
  border-radius: 5px;

  @media (max-width: $tablet-width) {
    right: 0;
    transform: translateX(-9%);
  }
}

.questions__title {
  display: block;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $basic-darkest;
}

.questions__text {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $basic-darkest;
}
