.questions {
  position: relative;
  margin-bottom: 140px;
  padding-left: 20px;
  padding-right: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 59px;
  }
}

.questions__image {
  width: 844px;
  height: 455px;

  @media (max-width: $tablet-width) {
    width: 767px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.questions__form {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 656px;
  height: 316px;
  padding: 50px 50px 44px;
  text-align: center;
  background: $basic-white;
  box-shadow: 0 4px 30px rgba($basic-shadow, 0.1);
  border-radius: 5px;

  @media (max-width: $tablet-width) {
    height: 311px;
    right: 50%;
    transform: translateX(50%);
  }

  @media (max-width: $mobile-width) {
    position: static;
    width: 100%;
    height: 100%;
    padding: 50px 16px;
    background-color: $light-background;
    transform: none;
    box-shadow: none;
  }
}

.questions__title {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $basic-darkest;

  @media (max-width: $tablet-width) {
    margin-bottom: 11px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.questions__text {
  margin: 0 0 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $basic-darkest;

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}
