.travel-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 90px;
  padding-bottom: 140px;
  padding-left: 0;
  padding-right: 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-bottom: 110px;
    column-gap: 0;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 30px;
  }
}

.travel-price__cards {
  display: flex;
  column-gap: 30px;

  @media (max-width: $tablet-width) {
    column-gap: 50px;
    margin: 0 auto;
    order: 1;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin-bottom: 21px;
  }
}

.travel-price__package {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  min-height: 672px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $basic-white;
  border: 1px solid rgba($basic-dark, 0.3);
  border-radius: 6px;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 288px;
    min-height: 631px;
  }

  @media (max-width: $mobile-width) {
    min-height: 629px;
    margin: 0 auto;

    &:first-child {
      margin-bottom: 30px;
    }
  }
}

.travel-price__package:hover {
  box-shadow: inset 0 0 0 3px $basic-accent;

  .travel-price__subtitle,
  .travel-price__price {
    color: $basic-accent;
  }

  .travel-price__text {
    border-bottom: 1px solid rgba($basic-accent, 0.5);
  }

  .travel-price__svg {
    fill: $basic-darkest;
  }
}

.travel-price__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 37px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-bottom: 11px;
    text-align: center;
  }
}

.travel-price__subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: rgba($basic-darkest, 0.7);
  letter-spacing: -1.27273px;

  @media (max-width: $tablet-width) {
    margin-bottom: 7px;
    font-size: 24px;
  }
}

.travel-price__price {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: rgba($basic-darkest, 0.7);
}

.travel-price__text {
  margin: 0;
  padding-bottom: 26px;
  padding-right: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $basic-dark;
  border-bottom: 1px solid rgba($basic-dark, 0.3);

  @media (max-width: $tablet-width) {
    text-align: center;
    padding-right: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.travel-price__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.travel-price__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: $basic-dark;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.travel-price__package--complex {
  .travel-price__item {
    margin-bottom: 11px;

    @media (max-width: $tablet-width) {
      margin-bottom: 8px;
    }
  }
}

.travel-price__svg {
  position: absolute;
  left: -5px;
  top: 4px;
  fill: $basic-accent;
}

.travel-price__button {
  width: 100%;
  margin-bottom: 29px;

  @media (max-width: $tablet-width) {
    width: 288px;
    margin: 0 -20px;
    padding-top: 21px;
    padding-bottom: 16px;
  }
}

.travel-price__description {
  width: 306px;
  padding-top: 57px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 113px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    padding-top: 111px;
  }
}

.travel-price__title {
  position: relative;
  margin: 0;
  margin-left: auto;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $basic-dark;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: $basic-accent;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    font-size: 30px;
    line-height: 45px;

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.travel-price__package-text {
  margin: 0;
  margin-left: auto;
  padding-top: 30px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba($basic-dark, 0.7);

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto 17px;
  }
}

.travel-price__contact-us {
  margin-bottom: 40px;
}
