.user-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-data__contacts {
  padding-bottom: 25px;

  @media (max-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}

.user-data__input {
  width: 269px;
  padding: 16px;
  border: 1px solid rgba($basic-dark, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $basic-darkest;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.user-data__button {
  margin: 0 auto;
  padding: 19px 42px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}
