$mobile-width: 767px;
$tablet-width: 1024px;

$basic-black: #000000;
$basic-darkest: #141517;
$basic-dark: #2c2e3f;
$dark-grey: #48494d;
$basic-shadow: #293642;
$basic-accent: #fe7865;
$hover-accent: #f17d4b;
$promo-background: #4c7997;
$divider: #d7d9df;
$light-grey: #fbf8f8;
$light-background: #fbf8f8;
$basic-white: #ffffff;
